<div class="jumbotron">
	<div class="container">
	<h1 class="titulos"> Titulos </h1>   
	<h2 class="titulos"> Otro Titulo </h2>                                    
	<a href="http://en1mes.com" target="_blank" class="btn btn-default">
	<span class="glyphicon glyphicon-exclamation-sign" style="color:orange"></span>
	En1mes
	</a>
	</div>
</div>
<div class="container"> 
	<div class="row">
		<div class="col-md-4"> 
		<div class="page-header">
			<h2 style="display: inline;"> Example page </h2>
			<span class="label label-primary">New</span>
		</div>
			<p class="titulos"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
		</div>
	<div class="col-md-4"> 
		<div class="page-header">
			<h2> Example page header </h2>
		</div>
		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>

	<div class="col-md-4">
		<div class="page-header">
			<h2> Example page header </h2>
		</div>
		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<h6> Sub...... Subtitulos </h6>
		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

 		<a href="http://en1mes.com">
 		<img src="http://wwww.en1mes.com/assets/logo.png" alt="logo de en 1 mes">
 		</a>           
 		<hr>
 		<br>

 		<img src="http://trofeos.mx/3764-5073-large/acrilico-deportivo-futbol-femenil.jpg" class="img-responsive">
 		<ol>        
 			<li> Item 1 </li>
 			<li> Item 2 </li>
 			<li> Item 3 </li>
 		</ol>                                                                                                                                                                                                                   


	</div>                                                                                                                                                  
</div>               
</div>                                                         
                                                                                                                                                                                                                                                                                                                                 
                 
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
                 
                                                                                                                                                                                                                                                                                                                                                                                                                      
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         